<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l2 s4">
                <a href="/logout" class="footerLink"><h5>Logout</h5></a>
                <a href="/about" class="footerLink"><h5>About</h5></a>
                <a href="/contact" class="footerLink"><h5>Contact</h5></a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Jennifer Allen
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
