<footer class="footer items-center p-4 bg-primary text-neutral-content font-tenor">
  <div class="items-center grid-flow-col">
    <p class="text-xs">Copyright © 2022 - Jennifer Allen</p>
  </div> 
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://www.twitter.com/jenanemone"><i class="fa-brands fa-twitter"></i>
    </a> 
    <a href="https://linkedin.com/in/jennifer-allen-jenanemone"><i class='fa-brands fa-linkedin-in'></i></a>
    <a href="https://github.com/jenanemone"><i class="fa-brands fa-github"></i></a>
  </div>
</footer>
</body>

</html>
