<%- include('partials/header') -%>

<main>
    <h1 class="text-center font-tenor text-2xl">Analyze Your Speech</h1>

    <%- include('partials/transcript') -%>



</main>
<%- include('partials/footer') -%>