<%- include('partials/header') -%>

<h1>Welcome to your Dashboard</h1>

<a href="/speech">Record yourself practicing a public speech</a>

<a href="/pastPractica">View past practices</a>



<%- include('partials/footer') -%>