<%- include('partials/header') -%>

<main class="flex flex-col justify-around h-5/6">

<h1 class="mx-auto text-2xl text-center font-tenor my-8">Welcome to your Dashboard</h1>


<div class="mx-auto card w-96 bg-primary text-primary-content my-8">
    <div class="card-body">
      <h2 class="card-title font-tenor">Record Yourself</h2>
      <p class="font-tenor">Go ahead and practice speaking! There's no one listening, unless you count the AI!</p>
      <div class="card-actions justify-end">
        <button class="btn"><a href="/speech">Go</a></button>
      </div>
    </div>
  </div>

  <div class="mb-24 mx-auto card w-96 bg-primary text-primary-content">
    <div class="card-body">
      <h2 class="card-title font-tenor">Past Practica</h2>
      <p class="font-tenor">See your past practica, the speech segments to analyze!</p>
      <div class="card-actions justify-end">
        <button class="btn"><a href="/practica">Go</a></button>
      </div>
    </div>
  </div>
</main>





<%- include('partials/footer') -%>