<%- include('partials/header') -%>

<h1>Welcome to your Dashboard</h1>

<a href="/dashboard/publicSpeech">Record yourself practicing a public speech</a>

<a href="/pastPractica">View Past Practices</a>

<h3>View Your Stored Practica</h3>



<%- include('partials/footer') -%>