<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=tenor-sans:400" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to Imposture</title>
</head>

<body>
    <nav class="navbar bg-primary py-8">
          <a href="#" translate="no" class="mx-auto font-tenor text-5xl p-8">Imposture</a>
      </nav>
      <div class="card w-96 bg-primary shadow-xl mx-auto my-8">
        <div class="card-body mx-auto font-tenor text-white">
          <h2 class="card-title mx-auto">Welcome, friend!</h2>
          <p>If you want to practice a speech, polish an audition piece, or just improve the words you use everyday, you've come to the right place!</p>
          <p><strong>Imposture</strong> allows you to monitor what you say, right here in the browser. You don't need a human, a rubber duck, a mirror or a webcam. Just you and the AI.</p>
          <p>You control your data. We don't store your data or sell your personal information. We believe the anonymity is what gives you the confidence to practice.</p>
          <div class="card-actions justify-around">
            <a href="signup"><button class="btn bg-secondary text-3xl p-2">Sign Up</button></a>
            <a href="/login"><button class="btn bg-secondary text-3xl p-2">Login</button></a>
          </div>
        </div>
      </div>
</body>

</html>