<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.bunny.net">
    <link href="https://fonts.bunny.net/css?family=tenor-sans:400" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Welcome to Imposture</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Imposture</a>
          <ul id="nav-mobile" class="right">
            <li><a href="/signUp">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      </nav>
    <!--<header class="landingHeader">-->
        <!-- <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo center">Imposture</a>
                <ul id="nav-left" class="left hide-on-med-and-down">
                    <li><a href="./resources.hbs">Resources</a></li>
                </ul>
                <ul class="right hide-on-med-and-down" id="nav-right">
                    <li><a href="/login">Login</a></li>
                    <li><a href="/signUp">Sign Up</a></li>
                </ul>
            </div>
        </nav> -->

    <!--</header>-->
    <div class="container">
    </div>

</body>

</html>