<%- include('partials/header') -%>

<h1>Welcome to Prompt Central</h1>

<a href="/publicSpeech">Record yourself practicing a public speech</a>

<h3>View Your Stored Practica</h3>

<% if (practica.length) { %>
    <ul>
    <% for( let i = 0; index < practica.length; i++ ) { %>
       <li><%= practica[i].createdAt %> </li><% } %>
    </ul>
<% } else if(!practica.length) { %>
 <h3>You don't have an Practica sessions yet!</h3>
<% } %>
<%- include('partials/footer') -%>