<%- include('partials/recordHeader') -%>

  <main class="pt-5"> 
    <h1 class="text-center">Record Your Voice</h1>
    <div class="container wrecks">
      

      <push-to-talk-button appid="39285e2b-b8dc-4de7-b989-81e5dff11685" intro="Try saying 'Hello'" customcssurl="/css/style.css" id="pttButton">
      </push-to-talk-button>
      
      <transcript-drawer hint='["Try: Hello", "Try: Hi there"]'>
      </transcript-drawer>

      <big-transcript
      placement="top"
      formattext="false" >
      </big-transcript>
      
      <intro-popup>
        <span slot="priming-body">
          Click to record your voice. Click to stop!
        </span>
      </intro-popup>
      
    </div>
    <section class="transcripts">
      <h2 id="output" class="text-center">Your Recording Output</h2>
      <ul id="recording-transcripts">

      </ul>
    </section>
    <script src="/js/speechly.js"></script>
  </main>