<%- include('partials/header') -%>

    <main>
    <h1>Audio Clip Recorder</h1>
    <p><button id="record">Record</button></p>
    <div id="sound-clip"></div>
    </main>


<%- include('partials/footer') -%>