<%- include('partials/header') -%>

    <main>
        <h1>Record your Speech</h1>
        <p><button id="record">Record</button></p>
        <div id="sound-clip"></div>
    </main>

<script type="text/javascript" src="/js/voiceMemo.js"></script>

<%- include('partials/footer') -%>