/*****************************
        *** LAYOUT ***
******************************/
* {
    box-sizing: border-box;
}

/*****************************
      *** TYPOGRAPHY ***
******************************/

html {
    font-family: 'Tenor Sans', sans-serif;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.brand-logo,
.input-field,
a {
    font-family: 'Tenor Sans', sans-serif;
}
.btn {
    margin: 15px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px;
}
footer,
header {

    width: 100%;
}
.wrecks img {
    background-color: blue;
    max-width: 75px;
}
#recordings {
    display: flex;
    flex-direction: column;
}
.PushToTalkContainer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100vh;
    padding: 0 0 3rem 0;
    pointer-events: none;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;

  }

  .pttButton {
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
  #shadow-root {
    border: 2px solid black;
  }
  
  .BigTranscriptContainer {
    position: fixed;
    margin: 3rem 2rem 0 2rem;
    z-index: 10;
  }
  .wrecks {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer * {
    text-align: center;
}
.nav-wrap {
    display: flex;
    justify-content: space-evenly;
}