/*****************************
        *** LAYOUT ***
******************************/
* {
    box-sizing: border-box;
}

/*****************************
      *** TYPOGRAPHY ***
******************************/

html {
    font-family: 'Tenor Sans', sans-serif;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.brand-logo,
.input-field,
a {
    font-family: 'Tenor Sans', sans-serif;
    color: #3b7cc0;
}
.btn {
    margin: 15px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100px;
    max-width: 85vw;
}
footer,
header {

    width: 100%;
}
.wrecks img {
    background-color: blue;
    max-width: 75px;
}
#recordings {
    display: flex;
    flex-direction: column;
}
.PushToTalkContainer {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100vh;
    padding: 0 0 3rem 0;
    pointer-events: none;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 50;

  }

  #pttButton {
    display: flex;
    margin: 0;
    padding: 10%;
    justify-content: center;
    align-items: center;
  }
  #shadow-root {
    border: 2px solid black;
  }
  
  .BigTranscriptContainer {
    position: fixed;
    margin: 3rem 2rem 0 2rem;
    z-index: 10;
  }
  .wrecks {
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer * {
    text-align: center;
}
.nav-wrap {
    display: flex;
    justify-content: space-evenly;
}
.voice {
    background: linear-gradient(-45deg, #4fa1f9, #15E8B5, #4fa1f9);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    padding: 6% 5%;
    font-size: 40px;
    width: 90%;
}